.card-box {
    .card-container {
        .card-inner {
            .image {
                height: 200px;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
}