.navbar-container {
    background-color: #222222 !important;
}

.navbar {
    padding: 10px 0px !important;
}

.search-box {
    input {
        background-color: #000;
        border: none;

        &:focus {
            background-color: #000;
            outline: none;
            box-shadow: none;
        }
    }
}